<h1>{{title}}</h1>
<!-- <div *ngIf="moviesAll.length">
  <div id="filters">
    <p>
      Sorted By:
      <select (change)="onSortChange($event.target.value)">
        <option *ngFor="let x of sortFields" value="{{x.fieldName}}">{{x.prettyName}}</option>
      </select>
    </p>
    <p>
      MPAA Rating:
      <span *ngFor="let x of allMpaaRatings">
        <input id="mpaaFilter{{x}}" name="mpaaFilter" type="checkbox" [checked]="mpaaRatingShownDict[x]"
               (change)="onMpaaFilterChange(x, $event.target.checked)" />
        <label for="mpaaFilter{{x}}">{{x}}</label>
      </span>
    </p>
    <p id="genre">
      <img [hidden]="!fetchingGenres" src="resources/spinner.gif" alt="loading..." />
      <span [hidden]="!genreAllIsVisible">
        Genre: All - <a href="#" (click)="selectSciFi()">SciFi</a> - <a href="#" (click)="selectGenreFilter()">other</a>
      </span>
      <span [hidden]="!genreSelectIsVisible">
        Select Genre: <span *ngFor="let x of allGenres"><a href="#" (click)="genreSelected(x)">{{x}}</a> </span>
      </span>
      <span [hidden]="!genreClearIsVisible">
        Genre: {{genreToShow}} - <a href="#" (click)="clearGenreFilter()">clear filter</a>
      </span>
    </p>
    <p>
      <input id="emptyRatingsFilter" type="checkbox" checked="checked"
             (change)="onEmptyRatingsFilterChange($event.target.checked)" />
      <label for="emptyRatingsFilter">Hide movies with no audience or critics rating</label>
    </p>
  </div>

  <div id="movies" *ngIf="moviesForUi.length">
    <movie *ngFor="let movieInfo of moviesForUi" [movieInfo]="movieInfo"></movie>
  </div>

  <div id="filteredOut" *ngIf="!moviesForUi.length">
    There are no movies that match your search criteria
  </div>
</div>

<div id="loading" *ngIf="!moviesAll.length">
  <img src="resources/spinner.gif" alt="loading..." />
</div> -->
