<table class="movie" (click)="onClick(movieInfo.url)" border="0">
  <tr>
    <td>
      <a href="{{movieInfo.url}}" target="_blank">
        <img src ="{{movieInfo.imageUrl}}"/>
      </a>
    </td>
    <td class="info">
      <p class="movieTitle">
        <a href="{{movieInfo.url}}" target="_blank">{{movieInfo.title}}</a>
      </p>
      <table border="0">
        <tr *ngFor="let field of displayFields">
          <th>{{field.prettyName}}:</th>
          <td>{{movieInfo[field.fieldName]}}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan=2>
      <div class="genre" *ngIf="movieInfo.genres.length">
        Genre: {{movieInfo.genres.join(',')}}
      </div>
    </td>
  </tr>
</table>
